= render "layouts/header"
= render "layouts/makers"

- sliders = ["トレーニングウェアの選び方", "コンプレッションウェアの選び方", "VENEX"]

.global__container
  .global__inner
    = render "layouts/sidebar"
    .main__container
      .swiper-parent
        .swiper-container
          .swiper-wrapper
            - sliders.each_with_index do |slider, i|
              .swiper-slide
                = image_tag ("top-bn0#{i+1}.jpg"), alt: slider[10]
          .swiper-pagination
      .makers
        .makers__title
          %h2 トレーニングウェア比較
        .makers__content
          %ul
            - @makers.each do |maker|
              %li
                = link_to root_path do
                  %span.icon
                    = image_tag (maker[2]), alt: maker[0], width: 120, height: 80
                  %span.name
                    %span.en= maker[0]
                    %span.ja= maker[1]
      .descriptions
        %dl
          %dt コンプレッションウェアとは？
          %dd
            高機能インナーとは、着用するだけで保温・冷感・筋肉や体幹のサポート・姿勢矯正...
            = link_to "続きを見る", root_path
        %dl
          %dt 高機能インナーとは？
          %dd
            高機能インナーとは、着用するだけで保温・冷感・筋肉や体幹のサポート・姿勢矯正・疲労回復...
            = link_to "続きを見る", root_path
        %dl
          %dt トレーニングウェアの選び方
          %dd
            トレーニングウェアをする際、ウェアの選び方のよってトレーニング効果も変わってきます...
            = link_to "続きを見る", root_path
        %dl
          %dt フィットネスウェアの選び方
          %dd
            ジムでの運動や筋トレ、ジョギングなど、フィットネスをする際に着るウェアによりその効果が...
            = link_to "続きを見る", root_path
      .recovery-wear
        =link_to image_tag('img_banner.jpg', alt: "リカバリーウェアとは"), root_path

  = render "layouts/footer"
