= render 'layouts/makers'

.side__bar
  .advertisement
    = image_tag ("left-bn.gif"), alt: "VENEX", width: 250, height: 210
  .side__makers
    .side__makers__title
      %h2 トレーニングウェア
    .side__makers__content
      %ul
        - @makers.each do |maker|
          %li
            = link_to root_path do
              %span.icon
                = image_tag (maker[3]), alt: maker[0], width: 40, height: 40
              %span.name
                %span.en= maker[0]
                %span.ja= maker[1]
  .guide
    .guide__title
      %h2 トレーニングウェアガイド
    .guide__content
      %ul
        %li= link_to "コンプレッションインナーとは？", root_path
        %li= link_to "高機能インナーとは？", root_path
        %li= link_to "リカバリーウェアとは？", root_path
        %li= link_to "トレーニングウェアの選び方", root_path
        %li= link_to "フィットネスウェアの選び方", root_path


