- makers = [['2XU', 'ツータイムズユー', 'left-nemu-2xu.gif'], ['adidas TECHFIT', 'アディダステックフィット', 'left-nemu-adidas.gif'], ['C3fit', 'シースリーフィット', 'left-nemu-c3fit.gif'], ['CW-X', 'シーダブリューエックス', 'left-nemu-cwx.gif'], ['NIKE PRO', 'ナイキプロ', 'left-nemu-nike.gif'], ['Reebok TAIKAN', 'リーボック タイカン', 'left-nemu-reebok.gif'], ['SKINS', 'スキンズ', 'left-nemu-skins.gif'], ['VENEX', 'ベネクス', 'left-nemu-venex.gif'], ['UNDER ARMOUR', 'アンダーアーマー', 'left-nemu-under.gif'], ['mizno BIO GEAR', 'ミズノ バイオギア', 'left-nemu-mizuno.gif']]

.side__bar
  .VENEX-image
    = image_tag ("left-bn.gif"), alt: "VENEX"
  .sports__maker
    %h2 トレーニングウェア
    %ul
      - makers.each do |maker|
        = link_to root_path do
          %li
            .maker__image
              = image_tag (maker[2]), alt: maker[0]
            .maker__name
              %p= maker[0]
              %p.kana= maker[1]
  .guide
    %h2 トレーニングウェアガイド
    %ul
      %li= link_to "コンプレッションインナーとは？", root_path
      %li= link_to "高機能インナーとは？", root_path
      %li= link_to "リカバリーウェアとは？", root_path
      %li= link_to "トレーニングウェアの選び方", root_path
      %li= link_to "フィットネスウェアの選び方", root_path


